#box1 {
    background-image: url("images/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: large;
    background-color: green;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    /* Added border */
}

#box2 {
    background-color: rgb(163, 174, 93);
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    /* Added border */
}

#box3 {
    background-color: rgb(97, 127, 134);
    padding: 10px;
    margin: 10px;
    display: flex;
    /* Added flex display */
    justify-content: center;
    /* Center content horizontally */
    cursor: pointer;
    border: 2px solid black;
    /* Added border */
}

img {
    border: 1px solid black;
}