  body {
      font-family: Arial, sans-serif;
      margin: 0;
      display: flex;
      flex-direction: column;
/*      min-height: 100vh; */
  }

  header {
      background-color: #4caf50;
      color: white;
      padding: 1em;
      text-align: center;
  }

  nav {
      background-color: #333;
      color: white;
      display: flex;
      justify-content: center;
  }

  nav a {
      color: white;
      padding: 1em;
      text-decoration: none;
  }

  nav a:hover {
      background-color: #575757;
  }

  main {
      flex: 1;
      padding: 1em;
  }

  article {
      flex: 3;
      background-color: #dad8d8;
  }

  aside {
      flex: 1;
      background-color: #f4f4f4;
  }

  footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 1em;
  }
  /* スマホ向け */
  @media (max-width: 600px) {
      body {
          font-size: 14px;
      }

      nav ul {
          flex-direction: column;
      }
  }

  /* タブレット向け */
  @media (min-width: 601px) and (max-width: 1024px) {
      body {
          font-size: 16px;
      }
  }