/* CSS（style_disptxt.css） */

@charset "UTF-8";

html {
    font-size: 100%;
}

header {
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* font-size: large; */
    border: rgb(128, 128, 128) 1px solid;
    background-color: #ddd;
}

h1 {
    text-align: center;
    font-size: 1.3em;
}

pre {
    /* width: max-content; */
    /* font-family: serif; */
    /* font-size: medium; */
    /* background-color: #f4f4f4; */
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    /* white-space: pre-wrap; */
    /* 長い行を折り返す */
    /* word-wrap: break-word; */
    /* 単語の途中でも折り返す */
}

#output {
    white-space: pre-wrap;
    /* 改行を保持 */
    font-family: monospace;
    /* 等幅フォントでコードらしく */
    background: #f5f5f5;
    /* padding: 10px; */
    border: 1px solid #000;
}

.mainContents {
    width: 100%;
}

.mainContents iframe {
    /* margin-bottom: 20px; */
}

.fixed-btn {
    position: fixed;
    /* z-index: 9999; */
    /* 他要素より前面に表示 */
    padding: 10px 20px;
    background: #0078d7;
    font-size: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(176, 176, 177, 0.3);
    background: linear-gradient(to bottom,
            rgba(228, 227, 227, 0),
            rgba(0, 0, 250, 0.5));
}

#btn1 {
    text-decoration: none;
    /* 下線を削除　*/
    bottom: 20px;
    /* 画面下からの距離 */
    right: 20px;
    /* 画面右からの距離 */
}

#btn2 {
    text-decoration: none;
    /* 下線を削除　*/
    top: 20px;
    /* 画面下からの距離 */
    right: 20px;
    /* 画面右からの距離 */
}

.fixed-btn:hover {
    background: linear-gradient(to bottom,
            rgba(228, 227, 227, 0),
            rgba(228, 0, 0, 0.8));
            transition: 0.5s;

}