header {
    height: 400px;
    background: url("https://picsum.photos/800/400") no-repeat center/cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    /* 縦方向に配置 */
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}

header {
    background: url("https://picsum.photos/800/400") no-repeat center/cover;
    font-family: sans-serif;
    font-size: larger;
    color: #333;
    text-shadow: 3px 3px 6px rgba(255, 253, 253, 0.5);
    /* 横2px, 縦2px, ぼかし5px, 半透明黒 */
}

article {
    padding: 10px;
}


nav ul {
    list-style: none;
    /* 点を消す */
    margin: 0;
    padding: 0;
    display: flex;
    /* 横並び */
    gap: 20px;
    /* 間隔 */
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

nav a:hover {
    text-decoration: underline;
}

.header-title {
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}