@charset "UTF-8";

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    /*        min-height: 100vh; */
}

header {
    height: 20%;
    background:
        url("https://picsum.photos/800/400") no-repeat center/cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    /* 縦方向に配置 */
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    text-shadow: 3px 3px 6px rgba(255, 253, 253, 0.5);
        /* 横2px, 縦2px, ぼかし5px, 半透明黒 */
    }

nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    background-color: #575757;
}

main {
    display: flex;
    flex: 1;
    padding: 1em;
}

article {
    flex: 3;
    padding: 1em;
}

aside {
    flex: 1;
    background-color: #f4f4f4;
    padding: 1em;

    margin-left: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}