@charset "UTF-8";

main {
    margin: 0;
}

.vertical {
    margin-right: 10px;
    margin-left: auto;
    writing-mode: vertical-rl;
    background-color: #ddd;
    padding: 20px 0px;
}

#title {
    /* display: inline-block; */
    /* width: 100%; */
    font-size: 2em;
    letter-spacing: 1em;
    align-items: center;
    padding: 10px 4px 10px 0px; /* 上右下左 */
     /* justify-content: center; */
    /* padding: 0.1em; */
    background-color: aqua;
}

#semititle {
    font-size: 1.5em;
    margin-top: 40px;
    padding: 10px 4px 10px 0px; /* 上右下左 */
    background-color: aqua;
}