@charset "UTF-8";

.mainContents {
    width: 100%;
}

.fixed-btn {
    position: fixed;
    /* z-index: 9999; */
    /* 他要素より前面に表示 */
    padding: 10px 20px;
    background: #0078d7;
    font-size: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(176, 176, 177, 0.3);
    background: linear-gradient(to bottom,
            rgba(228, 227, 227, 0),
            rgba(0, 0, 250, 0.5));
}

#btn1 {
    bottom: 20px;
    /* 画面下からの距離 */
    right: 20px;
    /* 画面右からの距離 */
}

#btn2 {
    text-decoration: none;
    /* 下線を削除　*/
    bottom: 70px;
    /* 画面下からの距離 */
    right: 20px;
    /* 画面右からの距離 */
}

.fixed-btn:hover {
    background: linear-gradient(to bottom,
            rgba(228, 227, 227, 0),
            rgba(228, 0, 0, 0.8));

}