@charset "UTF-8";

main {
    background:
        url("https://picsum.photos/800/400") no-repeat center/cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#outbox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50vh;
    justify-content: center;
    /* margin: auto; */
    border-radius: 12px;
    border: 3px solid #808;
}
#outbox::before {
    content: "outbox";
}

#inbox {
    display: flex;
}
#inbox::before {
    content: "inbox";
}
#inbox2 {
    /* display: flex; */
    display: grid;
    justify-content: center;
}
#inbox2::before {
    content: "inbox2";
}

#inbox,
#inbox2 {

    width: 90%;
    /* height: 100px; */
    /* justify-content: center; */
    margin: auto;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid #088;
    /* position: relative; */
    background-color: rgba(150, 150, 255, 0.8);
}

.abtn,
.bbtn,
.cbtn {
    width: 30%;
    margin: 5px;
    padding: 10px;
    margin: auto;
    text-align: center;
    /* 文字列を中央に */
    color: #EEE;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-decoration: none;
    /* リンクの下線を消す    */
    background-color: rgba(91, 200, 200, 0.3);
    background-color: red;
    border-radius: 12px;
    /* 角を丸く */
    border: 1px solid #333;
}

.abtn:hover,
.bbtn:hover,
.cbtn:hover {
    background-color: aquamarine;
    background-color: rgba(180, 60, 167, 0.3);
    text-decoration-style: none;
}

.bbtn {
    display: block;
    margin: 5px;
    background-color: blue;
}

.cbtn {
    display: inline-block;
    width: 100%;
    margin: 5px;
    background-color: green;
}

img {
    width: 100px;
    height: auto;


}