@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    /* display: inline; */
}
body {
    font-family: 
    "Hiragino Mincho ProN W3",
    "Hiragino Mincho ProN", 
    "MS PMincho", 
    "MS Mincho", 
    "Noto Serif JP", serif;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.1em;
}

.wrap {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    background-image: url(../images_crepro/header_bg_pc.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 105px;
    margin-bottom: 50px;
}

.header_top {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.logo {
    margin-right: auto;
}

.gnav ul {
    display: flex;
}

.gnav a {
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    transition: 0.5s;
}

.gnav li {
    margin-right: 20px;
    list-style-type: none;
}

.gnav a:hover {
    color: #54D171;
}

.contact_btn>a {
    color: #393939;
    background-color: #54D171DD;
    padding: 0.5em 1.5em;
}

.more_btn>a {
    background-color: #D16F3Bdd;
    padding: 0.5em 2.4em;
    font-size: 20px;
    letter-spacing: 0.2em;
    color: #fff;
}

.button>a {
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.button>a:hover {
    filter: brightness(90%);
}

.more_btn {
    text-align: center;
}

.top_title {
    color: #fff;
    writing-mode: vertical-rl;
    margin-left: auto;
    margin-bottom: 20px;
    /* background-color: #888; */
}

.pageTitle {
    font-size: 50px;
    letter-spacing: 0.2em;
    line-height: 1;
}

.subTitle {
    margin-top: 95px;
    font-size: 20px;
    letter-spacing: 0.2em;
}

@media (max-width:690px) {
    .gnav {
        position: absolute;
        top: 150px;
        left: 20px;
    }

    .gnav ul {
        display: initial;
    }

    .gnav a {
        font-size: 18px;
    }

    .more_btn>a {
        font-size: 18px;
        padding: 0.5em 2em;
    }
}
/*********************************************/
/*********************************************/
/*********************************************/
/*********************************************/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

body>section {
    padding-top: 140px;
    padding-bottom: 130px;
}

h2 {
    /* font-size: 30px; */
    font-size: clamp(1.25rem, 1.0213rem + 1.2195vw, 1.875rem);
    letter-spacing: 0.2em;
    font-weight: normal;
    color: #232222;
    text-align: center;
    line-height: 30px;
    /* margin-bottom: 100px; */
    margin-bottom: 2em;
    position: relative;
}

h2>span {
    /* font-size: 50px; */
    font-size: clamp(1.875rem, 0.585rem + 3.5587vw, 3.125rem);
    opacity: 0.5;
    position: absolute;
    left: -83px;
    top: -20px;
    right: 0;
    z-index: -1;
}

.japan h2>span {
    color: #CDCFAA;
}

h2 .strong_text {
    /* font-size: 100px; */
    font-size: clamp(3.125rem, -0.1001rem + 8.8968vw, 6.25rem);
}

.section_text {
    font-size: 0.8em;
    /* width: 70%; */
    color: #707070;
    padding: 20px;
    margin-bottom: 60px;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 38px 30px 125px auto 38px;
    gap: 0 2.08%;
    margin-bottom: 130px;
    margin-top: 40px;
}

.card img {
    grid-column: 1/7;
    grid-row: 1/5;
    aspect-ratio: 1.6/1;
    object-fit: cover;
    border-radius: 5px;
}

.card h3 {
    grid-column: 10;
    grid-row: 3/5;
    writing-mode: vertical-rl;
    font-size: 30px;
    color: #4B8141;
    letter-spacing: 0.3em;
    line-height: 1;
    justify-self: center;
}

.card_content {
    grid-column: 7/10;
    grid-row: 3/5;
    /* align-self: end; */
    min-height: 200px;
    display: grid;
    align-content: end;
    gap: 15px;
}

.card_btn>a {
        padding: 0.5em 1.5em;
    color: #fff;
    background-color: #D16F3B;
}

.card::before {
    content: "";
    background-color: #E7E8E0;
    border-radius: 5px;
    grid-column: 2/-1;
    grid-row: 2/-1;
}

.card:nth-of-type(even) h3 {
    grid-column: 1;
}

.card:nth-of-type(even) img {
    grid-column: 5/-1;
}

.card:nth-of-type(even) .card_content {
    grid-column: 2/5;
}

.card:nth-of-type(even)::before {
    grid-column: 1/10;
    grid-row: 2/-1;
}

.card:nth-of-type(odd) {
    margin-right: 14.79%;
}

.card:nth-of-type(odd) {
    margin-left: 14.79%;
}

@media(max-width:885px) {
    .card:nth-of-type(n) {
        margin-left: 0;
        margin-right: 0;
    }

    .card img {
        grid-column: 1/6;
    }

    .card_content {
        grid-column: 6/10;
    }

    .card:nth-of-type(even) img {
        grid-column: 6/-1;
    }

    .card:nth-of-type(even) .card_content {
        grid-column: 2/6;
    }
}

@media(max-width:550px) {
    .card {
        grid-template-rows: auto 30px auto 38px;
        margin-bottom: 90px;
    }
    .card:nth-of-type(n) img {
        grid-row: 1;
        grid-column: 1/-1;
    }
    .card:nth-of-type(n)::before {
        grid-row: 1/-1;
        grid-column: 1/-1;

        .card:nth-of-type(even) .card_content {
            grid-column: 2/6;
        }
    }
    .card_content {
        grid-row: 3;
        grid-column: 2/-3;
    }
    .card:nth-of-type(even) .card_content {
        grid-column: 3/-2;
    }
}

@media (max-width:450px) {
    h2>span {
        left: 0px;
    }
}

