* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* ヘッダー、メイン、フッターの高さ */
    grid-template-columns: 15% 1fr;
    /* ナビゲーションとメインコンテンツの幅 */
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
    min-height: 100vh;
    /* ページ全体の高さを確保 */
}

.header {
    grid-area: header;
    background-color: #f4f4f4;
    /* height: 50px; */
}

.nav {
    grid-area: nav;
    background-color: #ddd;
}

.main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 50px);
    grid-area: main;
    background-color: #fff;
    background: linear-gradient(to bottom, rgb(228, 227, 227), green);
    border: 2px solid;
}

.footer {
    grid-area: footer;
    background-color: #ccc;
}

@media (max-width: 320px) {
    .layout {
        grid-template-rows: auto auto auto auto;
        /* 各セクションが縦並び */
        grid-template-columns: 1fr;
        /* 幅を全体に広げる */
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }
}
.box {
    grid-column: 4/8;
    grid-row: 2/5;
    display: flex;
    gap: auto;
    /* object-fit: fill; */
       /* width: auto; */
       /* height: 200px; */
    /* background-color: #e2e2e2; */
    /* box-shadow: 5px 5px 10px #b2b2b2; */
    border: 2px,black solid;
}
.box img {
    width: 100%;
    /* object-fit: cover; */
}
.imageBox {
    object-fit: fill;
}

.button {
    grid-column: 2/5;
    grid-row: 8/9;
    display: inline-block;
    padding: 10px 20px;
    background-color: #8789eb;
    color: white;
    /*   opacity: 70%; */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(255, 255, 255, 0.5);
}

.box p {
    width: 50%;
    margin: auto auto;
    text-align: center;
    background-color: red;
    padding: 1em;
}