@charset "utf-8";
.header {
	background-image:url(../images/header2.jpg);
	height:155px;
	text-align:center;
	line-height:155px;
	margin-bottom:5px;
}
h1 a {
	color:#fff;
}
.nav , .section {
	width:600px;	/* 横幅を指定 */
	margin:0 auto;
}