@charset "utf-8";
/*ページの基本デザイン*/
body {
	margin:0;
	padding:0;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, sans-serif;
	color: #666;
}
h1 {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-weight:normal;
}
h2 {
	margin: 0;
	font-size: 110%;
}
h3 {
	margin:0;
	font-size: 90%;
}